  <div class="container">
    <div class="posts">
      <ul>
        <% @posts.each do |post| %>
          <li>
            <% if user_signed_in? %>
              <p class="para_title"><%= post.title %></p>
              <p class="para_body"><%= post.body %></p> 
              <p class='para_name'><%= 'Created by: ' + post.user.name %></p>
            <% else %>
              <p class="para_title"><%= post.title %></p>
              <p class="para_body"><%= post.body %></p> 
              <p class="para_name"><%= 'Created by: Anonymous' %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>