<div class="post_index">
  <div class="container">
    <h1>Posts</h1>
        <ul>
        <div class="posts">
        <% @posts.each do |post| %>
          <li>
            <% if user_signed_in? %>
              <p><%= post.title %></p> <br>
              <p><%= post.body %></p> 
              <p class='bottom_para'><%= 'Created by: ' + post.user.name %></p>
            <% else %>
              <p><%= post.title %></p> <br>
              <p><%= post.body %></p> 
              <p class='bottom_para' ><%= 'Created by: Anonymous' %></p>
            <% end %>
          </li>
        <% end %>
        </div>
      </ul>
  </div>
</div>